.nav-link{
  transition: all 0.3s ease-in-out;
}

.nav-link:hover{
  color: #0d6efd;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.nav-item{
  padding: 0 15px;
}

.btn{
  transition: all 0.3s ease-in-out;
}

.btn:hover{
  transform: scale(1.1);
}